* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;

}

body {
    padding: 1%;
    background-color: #9CD2D3;
}

.line {
    margin-top: 3%;
    height: 1px;
    width: 98%;
    position: absolute;
    z-index: 999;
    background-color: #9CD2D3;
}

.main {
    height: 100%;
    width: 100%;
    background-color: #9CD2D3;
    padding: 2% 0;
    box-shadow: 0px 0px 10px black;
}

.content {
    height: 100%;
    width: 100%;
    /* background-color: #9CD2D3;
    box-shadow: 0 0 10px black; */
    color: white;
}

.one {
    width: 200px;
    margin-left: 10%;
}

.two {
    width: 200px;
    margin-left: 80%;
}

.text {
    text-align: center;
}

h1 {
    font-size: 65px;
}

h4 {
    font-size: 20px;
    font-family: Helvetica;
    margin-bottom: 3vw;
}

.btn {
    background-color: transparent;
    border: 1px solid white;
    margin: 0 1vw;
}

button {
    padding: 15px 40px;
    background-color: #EEB14C;
    border: none;
    color: white;
    border-radius: 5px;
}

.middile {
    margin-top: 2.4vw;
    height: 35%;
    width: 100%;
    background-color: #5BB6C8;
}

.footer {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    background-color: #17363B;
}

.three {
    height: 150px;
    mix-blend-mode: darken;
    margin-top: -100%;
    margin-left: 3%;
}

.bird {
    height: 500px;
    mix-blend-mode: darken;
    position: absolute;
    top: 0%;
    right: 2%;
}

.box {
    height: 100px;
    width: 250px;
    background-color: #5BB6C8;
    position: absolute;
    bottom: 15%;
    right: 10%;
}